<!-- Images (and assets) are parsed and loaded from within the public directory -->
<section class="play">
	<div class="play__actions">
		<button class="btn" ng-click="play.run(0)">ROCK</button>
		<button class="btn" ng-click="play.run(1)">PAPER</button>
		<button class="btn" ng-click="play.run(2)">SCISSORS</button>
	</div>
	<section class="play__players">
	  <div class="play__item play__player">
	    <h2>Player: {{play.scores.player}}</h2>
	    <img class="icon" ng-src="{{play.player.path}}" src="img/combined.png">
	  </div>
	  <div class="play__item play__computer">
	    <h2>Computer: {{play.scores.computer}}</h2>
	    <img class="icon" ng-src="{{play.computer.path}}" src="img/combined.png">
	  </div>
	</section>
	<p class="play__status">{{play.currentState}}</p>
</section>